.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.titleBlink {
    animation: blink 0.9s step-start 3;
}

.title {
    visibility: hidden;
}

@keyframes blink {
    50% {
      opacity: 0.0;
    }
}
